body{
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

p{
    color: dimgray;
}

.top-banner{
    background-image: url(images/top-banner.png);
    /* border: 1px solid red; */
    background-repeat: no-repeat;
}

.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.name-highlight{
    color: orange;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    /* background-color: palegreen; */
}

.half-width img{
    width: 100%;
}

section{
    height: 500px;
    padding-bottom: 150px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding : 10px 20px;
    border-radius: 5px;
    color : white;
    font-weight: 600;
}